@import ".../../../../../../assets/variables/color.scss";
.bx-form-input{
    width: 100%;
    height: 35px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding: 10px;
    margin-bottom: 25px; 
    border: none;
    border-bottom: 1px solid $lite-hash;
    outline: none;
    &--editform{
        width: 302px;
        height: 55px;
    }
}
.invalid{
    border-bottom: 1px solid red;
}
.valid{
    border-bottom: 1px solid green;
}