<div class="bx-footer__cards">
    <div class="bx-footer__cards__card"> 
        <app-bx-footer-top 
        [class]="'bx-footer__card__list'"
        [sectionTitle] = "'ABOUT'"
        [items]="['About Us', 'Careers', 'Contact Us', '', 'Quick Mart stories','Press','Corporate information']"
        ></app-bx-footer-top>  
        <app-bx-footer-top class="bx-footer__cards__after"
        [class]="'bx-footer__card__list'"
        [bxIcon] = "'../../../../assets/images/bxlogo.svg'"
        [sectionTitle] = "'HELP'"
        [items]="['Payments', 'Shipping', 'FAQ', '', 'Cancelation @ returns']"
        ></app-bx-footer-top>

        <app-bx-footer-top 
        [class]="'bx-footer__card__list'"
        [sectionTitle] ="'GROUP COMPANIES'"
        [items] = "['Advanced Analytics', 'AI /ML/RPA', 'Alteryx APA', 'Audit Analytics' , 'Beinex Digital', 'Business Intelligence']"
        ></app-bx-footer-top>

        <app-bx-footer-top class="bx-footer__cards__after"
        [class]="'bx-footer__card__list '"
        [id]="'morebottom'"
        [sectionTitle] = "'POLICY'"
        [items] = "['Terms of Use', 'Security', 'Privacy', 'Sitemap' , 'EPR Complience']" 
        ></app-bx-footer-top>

        <app-bx-footer-top class="bx-footer__cards__after"
        [class]="'bx-footer__card__list'"
        [sectionTitle] = "'OUR INDUSTRIES'"
        [items] = "['Finance', 'Human Resources', 'Procurement', 'Sales']"
        ></app-bx-footer-top>

     
    </div>
</div>


